.search-bar {
    display: block;
    width: 570px;
    height: auto;
    margin: 0 auto;

    &__input {
        color: $black;
        width: 100%;
        padding: 12px 16px;
        border-radius: 24px;
        border: 1px solid $light;
        background-color: $light;

        &:focus {
            outline: none;
            border: 1px solid $blue;
            background-color: $white;
        }
    }

    @media (max-width: 576px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        width: 300px;
    }
}